language: julia

# avoid duplicate tests in PRs
branches:
  only:
    - master

os:
  - linux
#  - osx

julia:
  - 1.0
  - 1.1
  - 1.2
  - 1.3
  - nightly

# deactivate plot display
env:
  - GKSwstype=nul

matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true

notifications:
  email: false

after_success:
  - if [[ $TRAVIS_JULIA_VERSION = 1.3 ]] && [[ $TRAVIS_OS_NAME = linux ]]; then
      julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())';
      julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())';
    fi
