name: Doc Preview Cleanup

on:
  pull_request:
    types: [closed]

# Ensure that only one "Doc Preview Cleanup" workflow is force pushing at a time
concurrency:
  group: doc-preview-cleanup
  cancel-in-progress: false

jobs:
  doc-preview-cleanup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v5
        with:
          ref: gh-pages
      - name: Delete preview and history
        run: |
            if [ -d "previews/PR$PRNUM" ]; then
                git config user.name "Documenter.jl"
                git config user.email "documenter@juliadocs.github.io"
                git rm -rf "previews/PR$PRNUM"
                git commit -m "delete preview"
                git branch gh-pages-new $(echo "delete history" | git commit-tree HEAD^{tree})
            fi
        env:
            PRNUM: ${{ github.event.number }}
      - name: Push changes
        run: |
            git push --force origin gh-pages-new:gh-pages
